div(class="row justify-content-md-center" style="position: relative;")
    input#nK(
        class="input-form text-center" 
        placeholder='Total number of shares' 
        style="width: 400px;"
        type = "number"
        name="numberOfKeys"
    )
    div(class="col-5 col-md-2")
    input#nKr(
        class="input-form text-center"
        placeholder='Minimum number of required shares'
        style="width: 400px;"
        type = "number"
        name="numberOfKeysRequired"
    )
div(class="row justify-content-md-center" style="position: relative; top:50px;")
    textarea#msg(
        class="input-form" 
        name="" 
        cols="100" 
        rows="10"
    )
div(class="row justify-content-md-center" style="position: relative; top:100px;")
    button(
        class="btn btn-primary-outline front-btn"
        aria-disabled="true"
        onClick="postSecret()"
    ) GO